<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" convertNoticesToExceptions="false">

    <testsuites>
        <testsuite name="PageScrape Test Suite">
            <file>./tests/tests.php</file>
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./lib</directory>
        </whitelist>
    </filter>
</phpunit>
