html {
	font-family:Arial,sans-serif;
	background: #333 url("bg.png") repeat;
}

body {
	margin:0;
}

#document {
	margin: 0 auto;
	background:#FCFCFC;
	width:800px;
	padding-bottom:10px;
}

#document h1, h2 {
	font-weight: 300;
}

#document p, h1, h2 {
	margin:20px;
	color:#222;
}

#origin_page {
	display:block;
	font-family:sans-serif;
	padding: 10px 0 10px 0;
	width:100%;
	background:#B0B0B0 ;
	color:#fff;
	text-decoration: none;
	text-align: center;
}
#origin_page:hover {
	background:#555;
}
#origin_page:active {
	background:  #444;
	color:white;
}

#read_it_later_button {
  border:none;
  display:block;
	font-family:sans-serif;
	padding: 10px 0 10px 0;
	width:100%;
	background:#8C96A7;
	color:#fff;
	text-decoration: none;
	text-align: center;
}
#read_it_later_button:hover {
	background:#687180;
}
#read_it_later_button:active {
    background:#373D56;
}

img {
	max-width:800px;
	margin:0 auto;
	display:block;
}

.img_container {
	background:rgba(60, 28, 10, 0.2);
	width: 100%;
}

a {
  text-decoration: none;
}

a:link {
	color: #ff4f00;
}
a:visited {
	color: #699fb3;
}
a:hover {
	text-decoration: underline;
}

hr + .img_container {
	
}
@media only screen and (max-width:800px) {
	#document {
		margin:0;
		padding:0;
		width: 100%;
		background:#333;
	}

	#document p, h1, h2 {
		color:#ccc;
	}

	img {
		max-width:100%;
	}
	.img_container {
		background: rgba(255, 255, 255, 0.1);
	}
}
